<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TEA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <TEA.My.MySettings>
            <setting name="SuppresWarningDialog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PDFCoverPage" serializeAs="String">
                <value>DT Frontpage</value>
            </setting>
            <setting name="PDFReportTemplate" serializeAs="String">
                <value>DT Generator</value>
            </setting>
            <setting name="PDFPackageTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="PDFDiagramTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="PDFElementTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowAidOnDiagramOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsTable" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionType" serializeAs="String">
                <value>XML</value>
            </setting>
            <setting name="Assistant" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArchimAid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DatAid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Deduplicator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormFactory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PackageHelper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiagramHelper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClassHelper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TableHelper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArchiMateHelper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XSDHelper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMLFile" serializeAs="String">
                <value />
            </setting>
            <setting name="StatementsTable" serializeAs="String">
                <value />
            </setting>
        </TEA.My.MySettings>
    </userSettings>
</configuration>
